---
layout: page
---

<h1>Blog</h1><hr />
{% assign posts_by_year = site.posts | group_by_exp : "item", "item.date | date: '%Y'" %} 
{% for posts_group in posts_by_year %}
    <h3 class="mb-3">{{ posts_group.name }}</h3>
    {% for post in posts_group.items %}
        <div class="row gx-4 mb-3" style="align-items: baseline;">
            <div class="col-auto text-nowrap text-muted">
                {{ post.date | date: "%b %d, %Y"}}
            </div>
            <div class="col fs-4">
                <a href="{{ post.url }}" class="text-decoration-none">
                    {{ post.title }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endfor %}
