---
---

@import "typography";
@import "colors";

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $bg-color;
    min-height: 100vh;
}
p {
    line-height: 1.6em;
}
a {
  color: $link-color;
  text-decoration: none;
}
a:visited {
  color: $visited-link-color;
}
a:hover {
  color: $visited-link-color;
  text-decoration: underline;
}

.nav-header {
    background-color: $nav-color;
}

.post-content {
    flex: 1;
}
.post-date {
    white-space: nowrap;    
}

#mainContainer {
    max-width: 45rem;
    margin: 0 auto;
    min-height: 100vh;
}
#mainNavigation {
    max-width: 45rem;
    margin: 0 auto;
}

